$dark-gray: hsl(0, 0%, 63%);
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$vdark-gray: hsl(0, 0%, 27%);

* {
    margin: 0;
    padding: 0;
    font-family: 'Spartan', sans-serif;
    font-size: 12px;
}

.main {
    display: grid;
    grid-template-columns: minmax(600px, 840px) 1fr;
}

.first {
    background: url(./images/desktop-image-hero-1.jpg);
    height: 500px;  
    box-sizing: border-box;
    padding: 60px 50px;
}

li {
    list-style: none;
    display: inline;
    a {
        text-decoration: none;
        color: $white;
    }
}

.logo {
    margin-right: 40px;
}

.element {
    color: $white;
    font-size: 11px;
    font-weight: 500;
    margin: 0 20px;
    margin-bottom: 15px;
    padding-bottom: 5px;
}

.element:hover {
    border-bottom: 2px solid $white;
    cursor: pointer;
}

.second {
    box-sizing: border-box;
    padding: 120px 90px;
    padding-bottom: 50px;
}

.title {
    color: $black;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 20px;
}

.para1 {
    color: $dark-gray;
    font-weight: 500;
    line-height: 20px;
}

.switch {
    color: $black;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-right: 20px;
}

.switch-case:hover {
    .switch {
        color: $dark-gray;
        cursor: pointer;
    }

    .arrow {
        background-color: $dark-gray;
        cursor: pointer;
    }
}

.before-next {
    position: relative;
    right: 90px;
    top: 60px;
}

.left {
    background: $black;
    padding: 20px 20px;
}

.right {
    background: $black;
    padding: 20px 20px;
    position: relative;
    right: 3px;
}

.left:hover, .right:hover {
    background: $vdark-gray;
    cursor: pointer;
}

.secondary {
    display: grid;
    grid-template-columns: 1fr minmax(300px, 547px) 1fr;
}

.black {
    background: url(./images/image-about-dark.jpg);
    height: 250px;
}

.white {
    background: url(./images/image-about-light.jpg);
    height: 250px;
}

.furniture {
    padding: 40px;
    box-sizing: border-box;
}

.stitle {
    color: $black;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 7px;
}

.para2 {
    color: $dark-gray;
    font-weight: 500;
    line-height: 20px;
}